@model IEnumerable<EventBookingSystem.Models.TicketBooking>

@{
	ViewData["Title"] = "MyBookings";
}

<h1>MyBookings</h1>

@* <p> *@
@*     <a asp-action="Create">Create New</a> *@
@* </p> *@
<table class="table">
	<thead>
		<tr>
			@if (Context.Session.GetString("UserRole") == "Admin")
			{

				<th>
					@Html.DisplayNameFor(model => model.User)
				</th>
			}
			<th>
				@Html.DisplayNameFor(model => model.Event)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Quantity)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BookingDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Status)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				@if (Context.Session.GetString("UserRole") == "Admin")
				{

					<td>
						@Html.DisplayFor(modelItem => item.User.Id)
					</td>
				}
				<td>
					@Html.DisplayFor(modelItem => item.Event.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Quantity)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BookingDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Status)
				</td>
				<td>

					@if (item.Status == BookingStatus.Confirmed)
					{
						@* if(item.Event.AvailableSeats !=0){ *@

						@* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> *@
						@* } *@
						@if ((item.Event.Date - DateTime.Now).TotalDays > 2)
						{

							<form asp - controller="BookingTicket" asp - action="CancelBooking" method="post" style="display:inline;">
								<input type="hidden" name="id" value="@item.Id" />
								<button type="submit" class="btn btn-danger">Cancel</button>
							</form>
						}
					}

					@* @if(item.Status != null && item.Status == "Confirmed" ){ *@

					@* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
					@* @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@ 

					@* <form asp-controller="BookingTicket" asp-action="CancelBooking" method="post" style="display:inline;"> *@
					@* 	<input type="hidden" name="id" value="@item.Id" /> *@
					@* 	<button type="submit" class="btn btn-danger" >Cancel</button> *@
					@* </form> *@
					@* } *@
					@* <button type="button" class="btn btn-danger" asp-controller="BookingTickets"  asp-action="CancelBooking" asp-route-id="@item.Id">Cancel</button> *@


					@* <a asp-action="CancelBooking" asp-route-id="@item.Id">Cancel</a> *@
				</td>
			</tr>
		}
	</tbody>
</table>
